.fizz{
  @include fizz;
}

.scroll-down{
  position: absolute;
  // bottom: 0;
  transform: translate(calc(90vw - 200px), -180px);
  text-decoration: none;
  font-family: $font-main;
  font-size: 1rem;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;

  &:hover, &:active{
    color: #fff;
    text-decoration: none;
  }
}


