// Colors
$skin-color: rgb(42, 185, 228);
$background-color: rgb(61, 61, 61);
$hamburger-color: #fff;

$font-main: Montserrat, serif;

$background: linear-gradient(to bottom, rgba(0, 0, 0, 0.863), rgba(85, 85, 85, 0.452)), url('../images/howard-bouchevereau-LjWrO_v8SQI-unsplash.jpg');
